# IDE
.idea/
.vs/

# Yarn 3 gitignore
yarn-error.log
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

# Build folders
dist

# ESLint
.eslintcache

# Typescript
*.tsbuildinfo

# Junit results
junit.xml
